/* .ant-steps-item-process .ant-steps-item-icon {
  background-color: #cbdcef !important;
  color: #fff;
} */

.ant-steps .ant-steps-item-title {
  color: #007bff;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 1.5 !important;
}

/* Bold text cho current step */
.current-step .ant-steps-item-title {
  font-weight: bolder;
}

/* .ant-steps-item-content {
  width: 113px !important;
} */
