
.ant-notification-notice {
  padding: 0 !important;
  background: transparent !important;
}

.ant-notification-notice-content {
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-theme-md);
}

.ant-notification-notice-error
  .ant-notification-notice-content {
  background-color: #ef4444 !important;
  border-left: 6px solid #991b1b;
}

.ant-notification-notice-error * {
  color: #ffffff !important;
}

.ant-notification-notice-success
  .ant-notification-notice-content {
  background-color: #22c55e !important;
  border-left: 6px solid #15803d;
}

.ant-notification-notice-success * {
  color: #ffffff !important;
}